name: Hotel IPTV Scan

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *" # 每12小时运行一次
jobs:
  scan:
    runs-on: ubuntu-latest
    permissions:
      contents: write  # 必须开启写入权限
    
    steps:
      - uses: actions/checkout@v4
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      
      - name: Install dependencies
        run: pip install requests

      - name: Run script
        run: python py/hotel.py

      - name: Commit and push
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add test/hotel_all.m3u
          git commit -m "Update IPTV List with fixed logos" || echo "No changes"
          git push origin HEAD:main
