name: IPTV Auto Update

on:
  schedule:
    - cron: '0 22 * * *' # 每天北京时间早晨6点运行
  workflow_dispatch:      # 允许手动触发

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write    # 关键：赋予写入权限

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Dependencies
        run: |
          pip install requests

      - name: Run Scraper
        run: python py/zubo.py

      - name: Commit and Push
        run: |
          git config --local user.email "github-actions[bot]@users.noreply.github.com"
          git config --local user.name "github-actions[bot]"
          git add zubo/*.m3u
          # 只有在有变化时才提交
          git diff --quiet && git diff --staged --quiet || (git commit -m "Update IPTV lists $(date +'%Y-%m-%d')" && git push)
